@import 'tailwindcss';

@theme {
  --color-main: #6ed1ff;
}

:root {
  font-family: 'Pretendard Variable', sans-serif;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(0, 0, 0);
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
